*{
	padding: 0;
	margin: 0
}
body{
	background-image: url("pizarron.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
header{
	margin-top: 10px;
	width: 100%;
	height: 150px;
	overflow: hidden;
	position: relative;
	background-image: url("crearcurso.jpg");
	background-size: cover;
}
nav{
	top: -20px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 20px auto;
	max-width: 1000px;
	width: 90%;
	height: 60px;
}
nav ul{
	list-style: none;
}
nav > ul{
	display: table;
	width: 100%;
	background-color: hsla(37, 84%, 41%, .803921568627451);
	position: relative;
}
nav > ul li{
	display: table-cell;
}
nav > ul li a{
	color: #fff;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align:  center;
	text-decoration: none;
}
nav > ul > li > a span{
	background-color: #F7A009;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top: -55px;
}
nav > ul > li > a span .icon{
	display: block;
	line-height: 40px;
}
nav > ul > li > a:hover >span{
	top: 0;
	color: #000000;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
nav > ul > li > ul{
	display: none;
	position: absolute;
	width: 100%;
	background-color: #A7700F;
	left: 0;
	right: 0;
	height: 0%;
}
nav > ul > li:hover > ul{
	display: block;
	height: 100%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
nav > ul > li > ul > li a:hover{
	background-color: #F7A009;
}
#banner{
	display: inline-block;
	background-repeat: no-repeat;
	text-align: center;
}
h1,h2,h3{
	color: #16D9E5;
	background-color: #098F8CFF;
}
h4,h5,h6{
	display: inline;
	color: #1B1B50;
}
p{
	color: #000000;
}
section ul{
	list-style: none;
}
section a:hover{
	background-color: #9E6CC4;
	color: #000000;
}
section a{
	background-color: #95DDBB;
	color: #000000;
}
#wrapper{
	display: block;
	width: 75%;
	text-align: center;
	margin: auto;
}
#main{
	display: block;
	width: 100%;
	background-color:  hsla(37, 84%, 41%, 1);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	text-align: center;
	color: #000000;
}
input[type="submit"]:hover, button[type="button"]:hover{
	background-color: #2C7B39;
	color: #000000;
}
input[type="submit"], button[type="button"]{
	background-color: #BEF;
	color: #000000;
}
.comentario{
	width: 70%;
	float: right;
}
input, textarea, select{
	text-transform: none;
	background-color: #BEF;
}
input:focus, textarea:focus, select:focus{
	text-transform: none;
	background-color: #8BE3BE;
}
#canvas{
	border: 2px;
	border-color: black;
	background-color: #BFFFA8FF;
}
